.back-button {
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  border: none;
  width: 30%
}

.container {
  display: flex;
  justify-content: space-between;
}

.country-flag {
  max-width: 100%;
}


.darkMode-back-button {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%)
}

.lightMode-back-button {
  color: hsl(200, 15%, 8%);
  background-color: hsl(0, 0%, 100%);
}

.details {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.details-section {
  display: flex;
  justify-content: space-between;
}

.darkMode-details-page {
  color: hsl(0, 0%, 100%)
}

.left-side {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid white
}

.left-details-column{
  padding: 2rem;
  margin-right: 20px;
}

.right-details-column{
  margin-left: 20px;
}

.right-side {
  border: 2px solid yellow;
  padding: 3rem;
}

span {
  font-weight: bold;
}