body {
  margin:0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  height: 100%;
}

.darkMode-main {
  background-color: hsl(207, 26%, 17%)
}
.lightMode-main {
  background-color: hsl(0, 0%, 98%);
}

.darkMode-main .back-button .link .dropdown .search-container .input .search{
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%)
}

.lightMode-main .back-button .link .dropdown .search-container .input{
  color: hsl(200, 15%, 8%);
  background-color: hsl(0, 0%, 100%);
}


.darkMode-main .details {
  color: hsl(0, 0%, 100%)
}

.darkMode-main .card {
  background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
}

.lightMode-main .card {
  color: hsl(200, 15%, 8%);
    background-color: hsl(0, 0%, 100%);
}

.darkMode-main .search {

}