body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  height: 100vh;
}

.darkMode-main {
  background-color: hsl(207, 26%, 17%)
}

.lightMode-main {
  background-color: hsl(0, 0%, 98%);
}