body {
  margin:0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  height: 100%;
}

.darkMode-main {
  background-color: hsl(207, 26%, 17%)
}

.lightMode-main {
  background-color: hsl(0, 0%, 98%);
}

.link {
  text-decoration: none;
  cursor: pointer;
  padding: 3px;
  border-radius: 4px;
  width: fit-content;
}

.lightMode-country-link {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}

.darkMode-country-link {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}